html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Остальной код */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --dark-color: #000000;
  --color1: #afb1b8;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

/* утилиты */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Body */

body {
  background-color: #ffffff;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

/* Шапка сайта */

.page-header {
  /* display: flex; */
  border: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid brown; */
}

/* /* .section{ */

.section {
  padding: 94px 0;
  /* background-color: yellow; */
}

/* Навигация */

.logo {
  margin-right: 85px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.web {
  color: #2196f3;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu-nav {
  display: flex;
}

.menu-nav .item:not(:last-child) {
  margin-right: 50px;
}

.menu-nav .item {
  position: relative;
}

.menu-nav .nav-link.current::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.menu-nav .nav-link.current {
  color: #2196f3;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color var(--transition);
}

.nav-link:focus,
.nav-link:hover {
  color: #2196f3;
}

/* .contact-us; */

.flexbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

.contact-us {
  display: flex;
  margin-left: auto;
}

.email {
  margin-right: 30px;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color var(--transition);
}

.contact-link:focus,
.contact-link:hover {
  color: #2196f3;
}

.icon-smartphone {
  vertical-align: middle;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-envelope {
  vertical-align: middle;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contact-us .item + .item {
  margin-left: 50px;
}

/* Герой */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  /* background-color: springgreen; */
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4));
  background-image: url(../images/Jpeg/index/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  /* color: rgb(152, 152, 160); */
}

.btn {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* <!--Преимушества--> */

.margin-top {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-list > .item {
  width: 270px;
  /* background-color: peru; */
  /* margin-top: 94px;
  margin-bottom: 94px; */
}

.background-feature {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon-antenna {
  margin: 25px 102.34px;
  width: 70px;
  height: 70px;
  vertical-align: middle;
}

.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 70px;
  height: 70px;
  margin: 25px 100px;
  vertical-align: middle;
}

.list-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section .description {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Чем мы занимаемся */

.ourwork-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* work */

.work-list {
  display: flex;
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.box2 {
  position: relative;
  width: 370px;
}

.title-absolute {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 70px;
  align-content: center;
  justify-content: center;
  padding: 27px 82px;
  background: rgba(47, 48, 58, 0.8);
}
/* Наша команда */

.background {
  background-color: #f5f4fa;
}

.team-menu {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* padding-bottom: 94px; */
}

.team-member {
  display: block;
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member:nth-child(4n) {
  margin-right: 0;
}

.image {
  margin-bottom: 30px;
}
.team-title {
  margin-bottom: 10px;
  margin-left: 56px;
  margin-right: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

.position-name {
  margin-top: 0;
  margin-bottom: 16px;
  /* margin-left: 70px;
  margin-right: 70px; */
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  color: var(--primary-text-color);
}

/* social list */

.social-list {
  display: flex;
  height: 44px;
  width: 270px;
  margin-bottom: 30px;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  color: #afb1b8;
  transition: color var(--transition), background-color var(--transition),
    border-radius var(--transition);
}

.social-link:hover,
.social-link:focus {
  color: var(--white-color);
  background-color: #2196f3;
  border-radius: 50%;
}

/* content: "";
  width: 44px;
  height: 44px; */
/* background-image: url("../images/instagram-2.svg");
    background-repeat: no-repeat; */
/* background-size: 20px; */
/* background-color: var(--accent-color); */
/* background-position: center; */
/* border-radius: 50%; */
/* display: block;
  padding-bottom: 24px;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  text-decoration: none;
  text-align: center; */

.social-icon {
  fill: currentColor;
}

/* clients */

.clients-list {
  display: flex;
  align-items: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  /* border: 1px solid #e5e5e5; */
  border-radius: 4px;
  border: 1px solid #afb1b8;
  /* fill: #afb1b8; */
  color: #afb1b8;
  transition: color var(--transition), border var(--transition);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}
.clients-icon {
  vertical-align: middle;
  fill: currentColor;
}

/* footer */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-menu {
  display: flex;
  align-items: baseline;
}

.logo-address {
  display: block;
  margin-right: 30px;
  width: 270px;
  justify-content: left;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.contacts-address {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
  font-style: normal;
}

.padding-zero {
  padding-left: 0;
}

.contacts-item {
  display: block;
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}

/* join */
.join-menu {
  display: block;
  width: 270px;
  margin-right: 30px;
  /* padding-top: 72px; */
}

.join {
  display: block;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* social list footer*/

.social-list-footer {
  display: flex;
  height: 44px;
  width: 270px;
  justify-content: left;
}

.social-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-item-footer {
  display: block;
  /* width: 44px;
  height: 44px;
  color: #afb1b8;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.1); */
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #2196f3;
}

.social-icon-footer {
  fill: #ffffff;
}

/* sign-up */

.sign-up {
  width: 570px;
  height: 86px;
}

.form-field-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 448px;
}

/* sign-up-form */

.join-us-form {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.join-email {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
}

.join-email::placeholder {
  background-color: tomato;
}

.icon-send-form {
  margin-left: 5px;
  fill: white;
}

.btn-footer {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;

  margin-left: 12px;
}

/* Modal.btn-close */

/* style="position:absolute;width:0;height:0" posle <svg aria-hidden="true"*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  padding: 9 10;
  align-items: center;
}

.icon-vector {
  width: 11px;
  height: 11px;
}

/* <!-- Form -- > */

.form {
  width: 528px;
  height: 581px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.name-form {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 448px;
  /* text-align: left; */
  margin-bottom: 10px;
}

.form-input {
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--transition);
}

.form-input:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.form-icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  /* transform: translateY(-50%); */
  fill: #212121;
  transition: fill var(--transition);
}

.form-input:focus ~ .form-icon {
  fill: #2196f3;
}

.form-field textarea {
  margin-bottom: 10px;
}

.form-field textarea::placeholder {
  color: tomato;
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.comment {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* Checkbox */

.form-field .label-field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* visuality hidden */

.check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0000);
  overflow: hidden; */
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.check-input:checked + .checkbox-icon {
  border-color: transparent;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.btn-submit {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
